body {
    font-family: Arial, sans-serif;
    background-color: #87CEEB; /* Light Blue background */
}

#container {
    padding: 10px;
    width: 1000px; /* Increased width for the game */
    height: 500px; /* Increased height for the game */
    background-color: #00FF00;
    margin: 0 auto; /* Center the game */
}

#track {
    width: 100%; /* Adjusted width for the track */
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 20px auto;
}

#train {
    height: 92px;
    width: 100px;
    position: relative;
    left: 0;
}

#buttons {
    margin-top: 20px;
    text-align: center;
}

button {
    margin: 0 10px;
}
