/* Button Styles */
.btn {
    display: block;
    padding: 0.7em 1em;
    background: transparent;
    outline: none;
    border: 0;
    color: #d4af37;
    letter-spacing: 0.1em;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
  }
  
  /* Cube Animation Styles */
  .cube {
    position: relative;
    transition: all 0.5s;
  }
  
  .cube .bg-top {
    position: absolute;
    height: 10px;
    background: #d4af37;
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
    transition: all 0.4s;
  }
  
  .cube .bg-top .bg-inner {
    bottom: 0;
  }
  
  .cube .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: #d4af37;
    transition: all 0.4s;
  }
  
  .cube .bg-right {
    position: absolute;
    background: #d4af37;
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
    transition: all 0.4s;
  }
  
  .cube .bg-right .bg-inner {
    left: 0;
  }
  
  .cube .bg-inner {
    background: #28282d;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
  }
  
  .cube .text {
    position: relative;
    transition: all 0.4s;
  }
  
  .cube:hover .bg-inner {
    background: #d4af37;
    transition: all 0.4s;
  }
  
  .cube:hover .text {
    color: #28282d;
    transition: all 0.4s;
  }
  
  .cube:hover .bg-right,
  .cube:hover .bg,
  .cube:hover .bg-top {
    background: #28282d;
  }
  
  .cube:active {
    z-index: 9999;
    animation: bounce 0.1s linear;
  }
  
  @keyframes bounce {
    50% {
      transform: scale(0.9);
    }
  }
  
  /* Form Styles */
  #orderForm {
    display: inline-block;
    padding: 20px;
    background-color: #28282d;
    color: #f3f3ef; /* Change text color to yellow */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(18, 24, 97, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: left; /* Reset text alignment for form content */
  }
  
  /* Button Hover Styles */
  #orderForm:hover {
    transform: translateY(-5px);
  }
  
  /* Input Styles */
  #orderForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #orderForm input[type="number"],
  #orderForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #d4af37;
    background-color: #28282d;
    color: #49d437;
  }
  
  #orderForm input[type="number"]:focus,
  #orderForm select:focus {
    outline: none;
    border-color: #d4af37;
    box-shadow: 0 0 5px #d4af37;
  }
  
  /* Button Styles */
  #orderForm button {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #d4af37;
    color: #d4af37;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  #orderForm button:hover {
    background-color: #d4af37;
    color: #28282d;
  }
  
  /* Order Summary Popup Styles */
  #displayTotal {
    position: absolute;
    left: -100%; /* Start the order summary off-screen to the left */
    top: 50%;
    transform: translateY(-80%);
    background-color: #2e2c2c; /* Adjust as needed */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.5s ease; /* Apply transition effect to the left property */
    text-align: left; /* Reset text alignment for order summary */
    color: rgb(181, 214, 61); /* Change text color to black */
  }
  
  #displayTotal.show {
    left: 0; /* Move the order summary to its original position */
  }
  
  /* Body Styles */
  body {
    background-color: #948250;
    color: #d4af37;
    text-align: center; /* Horizontally center elements */
  }
  
  /* Heading Styles */
  h1 {
    font-size: 40px;
    text-align: center;
    color: #04285b;
  }
  