body {
    font-family: 'Arial', sans-serif; /* Updated font-family */
    background-color: #f0f0f0; /* Use a lighter background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height for full viewport height */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-top: 20px; /* Add some margin-top for separation */
}

h1 {
    color: black;
    font-size: 30px;
    margin-bottom: 900px;
    margin-right: 300px;
}

.text {
    color: black;
    font-size: 18px; /* Adjust font size for paragraphs */
    font-family: "Arial", sans-serif; /* Use a consistent font-family */
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    padding: 10px;
    border: 2px solid rgb(184, 34, 34);
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: rgb(184, 34, 34);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgba(184, 34, 34, 0.9); /* Use rgba for hover effect */
}

.card {
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add margin-top for separation */
}
